name: python-app-CI

on: 
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  BuildAndTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir -r requirements.txt
      - name: Start FastAPI server
        run: |
          python -m uvicorn app:app --host 0.0.0.0 --port 8000 &
          sleep 5
      - name: Test all endpoints
        run: chmod +x test_todos.sh && ./test_todos.sh

  DockerBuildPush:
    runs-on: ubuntu-latest
    needs: BuildAndTest
    steps:
      - uses: actions/checkout@v6
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Docker Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            yousef2005/python-app:latest
            yousef2005/python-app:v1.0.${{ github.run_number }}








    
